# Laravel Specific
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*
.phpunit.result.cache
composer.lock

# Laravel Mix / Vite
/public/hot
/public/build

# IDE / Editor
/.idea
/.vscode
/.fleet

# Homestead / Docker
Homestead.yaml
Homestead.json

# Log & Debug Files
npm-debug.log
yarn-error.log
auth.json

# System Files
.DS_Store
Thumbs.db
